body 
{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
	background-color: #f0f0f0;
}

main
{
	background-color: #64606c;
	display: flex;
	justify-content: center;
	width: 100%;
}

.parkingLot
{
	background: url('parkingLot.png') no-repeat center center;
	background-size: cover;
	width: 600px;
	height: 300px;
	position: relative; 
}

.car1
{
	background: url('car1.png') no-repeat center center;
	background-size: cover;
	width: 100px;
	height: 100px;
	position: relative; top: 120px;
	animation: car1_LeftAndRotate 5s linear forwards, car1_down 1s linear 5s forwards;
}

.car2
{
	background: url('car2.png') no-repeat center center;
	background-size: cover;
	width: 20%;
	height: 17%;
	position: relative; top: 40px; left: -200%;
	animation: car2_LeftAndRotate 5s linear 10s forwards, car2_down 1s linear 15s forwards;
}

.car3
{
	background: url('car3.png') no-repeat center center;
	background-size: cover;
	width: 10%;
	height: 30%;
	position: relative; bottom: 50%; left: 46%;
	animation: car3_downAndRotate 2s linear 6s forwards, car3_Left 6s linear 8s forwards;
}

.car4
{
	background: url('car4.png') no-repeat center center;
	background-size: cover;
	width: 10%;
	height: 40%;
	position: relative; bottom: 19%; left: 46%;
	animation: car4_upAndRotate 2s linear 8s forwards, car4_Left 6s linear 10s forwards;
}

@keyframes car1_LeftAndRotate
{
    0% {left: -200%; transform: rotate(0deg);}
    50% {left: 32%; transform: rotate(0deg);}     
    100% {left: 32%; transform: rotate(90deg);}
}

@keyframes car1_down 
{
	100% {top: 200px;}
}

@keyframes car2_LeftAndRotate
{
    0% {left: -200%; transform: rotate(0deg);}
    50% {left: 62%; transform: rotate(0deg);}     
    100% {left: 62%; transform: rotate(90deg);}
}

@keyframes car2_down  
{
	100% {top: 118px;}
}

@keyframes car3_downAndRotate
{
	0% {bottom: 50%; transform: rotate(0deg);}
	50% {bottom: 25%; transform: rotate(0deg);}
	100% {bottom: 25%; transform: rotate(90deg);}
}

@keyframes car3_Left
{
    0% {left: 43%;}
    50% {left: -200%;}     
    100% {left: -200%;}
}

@keyframes car4_upAndRotate
{
	0% {bottom: 23%; transform: rotate(0deg);}
	50% {bottom: 63%; transform: rotate(0deg);}
	100% {bottom: 63%; transform: rotate(-90deg);}
}

@keyframes car4_Left
{
    0% {left: 46%;}
    50% {left: -200%;}     
    100% {left: -200%;}
}
